:root {
  /* ### Primary */

  --Blue: hsl(223, 87%, 63%);

  /* ### Secondary */

  --Pale-Blue: hsl(223, 100%, 88%);
  --Light-Red: hsl(354, 100%, 66%);

  /* ### Neutral */

  --Gray: hsl(0, 0%, 59%);
  --Very-Dark-Blue: hsl(209, 33%, 12%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;

}
.component-container{
    width: 100%;
    height: 100vh;
}
.component-container-wrapper{
    width: 100%;
    height: 100vh;
    text-align: center;
}
/* Logo Ping website */
.component-logo{
    
    margin-top: 3.5rem;
}
/* header */
.component-header{
    
    margin-top: 2rem;
}
.title{
    font-size: 40px;
    color: var(--Gray);
    margin-bottom: 1rem;
}
.title b{
    color: black;
}
.component-header p{
    font-size: 16px;
}

/* form component */
.form-control{
    margin-top: 1.5rem;
}

.form-control input{
    margin: 8px 0;
    width: 20%;
    padding: 15px 20px;
    display: inline-block;
    border: 1px solid var(--Gray);
    border-radius: 50px;
    font-weight: 600;
    box-sizing: border-box;
}
.form-control input:focus{
    outline: 0;
    border-color: var(--Gray);
}
.form-control.error input{
    border-color: var(--Light-Red);
}
.form-control.success input{
    border-color: var(--Gray);
}
.form-control button{
    margin: 8px 0;
    margin-left: 1rem;
    width: 8%;
    padding: 15px 20px;
    display: inline-block;
    border: none;
    border-radius: 50px;
    background-color: var(--Blue);
    font-weight: 600;
    color: #fff;
    box-sizing: border-box;
    cursor: pointer;
    
}
.form-control button:hover{
    background-color: var(--Pale-Blue);
}
.form-control small{
    position: relative;
    font-size: 12px;
    margin-right: 16%;
    display: grid;
    color: var(--Light-Red);
    bottom: 0;
    visibility: hidden;
}
.form-control.error small{
    visibility: visible;
}

/* picture website PING */
.body-component{
    margin-top: 3.5rem;
}
.body-component img{
    width: 30%;
}

/* icons contact */

.component-icons{
    margin-top: 4rem;
}
.component-icons i{
    border: 1px solid var(--Gray);
    color: var(--Blue);
    padding: 0.5rem;
    border-radius: 60%;
    margin: 0.5rem;
    cursor: pointer;
}
.component-icons i:hover{
    background-color: var(--Blue);
    color: #fff;
    border: none;
}
.copyright{
    margin-top: 1.5rem;
    font-size: 14px;
    color: var(--Gray);
}

/* media quries */
@media (width: 1440px){
    .form-control input{
        width: 25%;
    }
    .form-control button{
        width: 10%;
    }
    .form-control small{
        margin-right: 20%;
    }
    .component-icons i{
        font-size: 16px;
    }
}

@media(width: 991px){
    .form-control input{
        width: 38%;
    }
    .form-control button{
        width: 15%;
    }
    .form-control small{
        margin-right: 33%;
    }
    .body-component img{
        width: 40%;
    }
    .component-icons i{
        font-size: 14px;
    }
  
}
@media(width: 767px){
    .form-control input{
        width: 40%;
    }
    .form-control button{
        width: 15%;
    }
    .form-control small{
        margin-right: 30%;
    }
    .body-component img{
        width: 40%;
    }
    .component-icons i{
        font-size: 14px;
    }
}

@media(width: 480px){
    .component-logo img{
        width: 4rem;
    }
    .component-header p{
        font-size: 12px;
    }
    .title{
        font-size: 28px;
    }
    .form-control{ 
        align-items: center;
    }
    .form-control input{
        width: 78%;
        margin-left: 3rem;
    }
    .form-control button{
        width: 78%;
        margin-left: 3rem;
    }
    .form-control small{
        margin-left: 25%;
    }
    .body-component img{
        width: 70%;
    }
    .component-icons i{
        font-size: 12px;
    }
    .component-icons{
        margin-top: 5rem;
    }
}